In [ ]:
# Instalando os Pacotes - Mysql
!pip install pymysql
import pandas as pd

In [ ]:
# Importar Módulo pandas
import pandas as pd
# importar o módulo pymysql
import pymysql

In [ ]:
# converter do pymysql para o Mysql
pymysql.install_as_MySQLdb()

In [ ]:
#import mysql.connector
import MySQLdb

In [ ]:
# Configurações para MYSQL connection
db = MySQLdb.connect(
    host="localhost",
    user="root",
    password="",
    database="teste"
)

In [ ]:
# Cricar um objeto cursor. Isso permitirá que você execute todas as consultas necessárias
cur = db.cursor()

In [ ]:
# Selecionar o que retornar todos os dados da tabela.
cur.execute("SELECT * FROM anuncio")

In [ ]:
# Converter os dados para DATAFRAME
tb_cliente_mysql = pd.DataFrame(cur.fetchall())

In [ ]:
# Visualizar os dados do DATAFRAME
tb_cliente_mysql.head()

In [ ]:
#Adicionar o nome para as colunas
tb_cliente_mysql = tb_cliente_mysql.rename(columns={
                                                    0: 'codigo_tipoanuncio',
                                                    1: 'Descricao_Tipo'
                                                })

In [ ]:
# Visualizar os dados com as colunas renomeadas
tb_cliente_mysql.head()